:root {
    --clr-scrollbar-thumb: black;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: rgb(49, 44, 61);
    margin: 1rem 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 340px 500px;
    margin: 0 auto;
    width: fit-content;
    padding: 0 1.3rem 5rem 1.3rem;
    background-color: black;
    border-radius: 60px;
}

.screen {
    grid-row: span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: end;
    font-size: 6rem;
    font-weight: 300;
    margin: 100px 25px 0 25px;
}

.screen-text {
    overflow-x: scroll;
    display: block;
    transition: font-size 0.4s, scrollbar-color 0.4s;
    /* Firefox scrollbar styling */
    scrollbar-color: black black;
    scrollbar-width: thin;
}

.screen-text.visible-scrollbar {
    scrollbar-color: #333333 black;
}

/* Chrome scrollbar styling */
.screen-text::-webkit-scrollbar {
    background-color: black;
    height: 6px;
}

.screen-text::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar-thumb);
    border-radius: 3px;
}

.screen-text.small-screen {
    font-size: 3.5rem;
}

.button-pad {
    display: grid;
    grid-row: span 1;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: fit-content;
    padding: 4px;
}

.calc-button {
    border: none;
    border-radius: 42.5px;
    font-family: inherit;
    font-size: 2.8rem;
    width: 85px;
    height: 85px;
    margin: 0;
    padding: 0;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

.double {
    grid-column: span 2;
    text-align: left;
    padding: 0 30px;
    width: 190px;
}

.numeric {
    color: white;
    background-color: #333333;
}

.numeric:hover {
    background-color: #3d3d3d;
}

.numeric:active {
    background-color: #7e7e7e;
    transition: background-color 0.05s ease;
}

.functional {
    color: black;
    background-color: #a5a5a5;
}

.functional:hover {
    background-color: #c9c9c9;
}

.functional:active {
    background-color: white;
    transition: background-color 0.05s ease;
}

.operator {
    color: white;
    background-color: #ff9f0a;
}

.unselected:hover {
    background-color:#f8ba0e;
}

.selected, #btn-equals:active {
    background-color: white;
    color: #ff9f0a;
    transition: background-color 0.05s ease;
}